<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>作成完了!</title>
    <div th:replace="common::head-com()"></div>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

<body>
    <div th:replace="common::nav-bar()"></div>
    <div class = "container">
        <h4><span class="text-primary" th:text="${tourTitle}">ツアータイトル</span> を削除しますか？<br></h4>
        <span style="color: red">この操作は取り消せません！</span>
        <form th:action="@{delete}" method="POST">
            <button type="submit" class="btn btn-danger">削除</button>
            <input type="hidden" name="tourId" th:value="${tourId}">
        </form>
        <a th:href="@{detail(tourId=${tourId})}" class="btn btn-primary">戻る</a></h4>


        <hr/>
    </div>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script type="text/javascript" th:src="@{/js/addspot.js}"></script>

</body>

</html>