<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tour edit</title>
    <div th:replace="common::head-com()"></div>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

<body>
    <div th:replace="common::nav-bar()"></div>
    <div class="container">
    <h1>Tour edit</h1>

    <form id="tourForm" th:action="@{update}" th:object="${tourForm}" method="post">
        <dl>
            <dt><label for="tourTitle">ツアータイトル:</label></dt>
            <dd><input type="text" name="tourTitle" id="tourTitle" th:field="*{tourTitle}" th:errorclass="error_input" value="a"></dd>
            <!-- <span th:if="${#fields.haserrors('tourName')}" th:errors="*{tourName}" class="error-messages">error!</span>
            -->
            <dt><label for="tourDescription">説明 :</label></dt>
            <dd><textarea name="tourDescription"  rows="4" cols="40" id="tourDescription" th:field="*{tourDescription}" th:errorclass="error_input"></textarea></dd>
            
    </form>   
            <dt><label>スポット一覧</label></dt>
            <dd>
                <div th:if="${!#lists.isEmpty(spots)}">
                <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th colspan="2">operations</th>
                    </tr>
                    <tr th:each="spot : ${spots}">
                        <td th:text="${spot.spotNo}">100</td>
                        <td th:text="${spot.spotName}">てすと</td>
                        <td th:text="${spot.spotLat}">100</td>
                        <td th:text="${spot.spotLng}">100</td>
                        <td>   
                            <form th:action="@{spot/detail}" method="GET">
                                <button type="submit" class="btn btn-info">編集する</button>
                                <input type="hidden" name="spotId" th:value="${spot.spotId}" />
                                <input type="hidden" name="tourId" th:value="${param.tourId[0]}" />
                            </form>
                        </td>
                    </tr>
                </table>
                <a class="btn btn-primary" th:href="@{spot/add(tourId=${param.tourId[0]})}">スポット追加</a>
                </div>
                <div th:if="${#lists.isEmpty(spots)}"　class="alert alert-info" role="alert">
                    スポットがありません！ <a th:href="@{spot/add(tourId=${param.tourId[0]})}">スポットを追加する</a>
                </div>
                </dd>
        </dl>
        <br>
        <input form="tourForm" type=hidden name="tourId" th:value="${param.tourId[0]}" />
        <input form="tourForm" class="btn btn-primary" type="submit" value="完了" /></input>


    <hr/>
    <a th:href="@{delete_conf(tourId=${param.tourId[0]})}" class="btn btn-danger">このツアーを削除する</a>
    

    </div>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
        <script type="text/javascript" th:inline="javascript">
    $(function(){
        /*<![CDATA[*/
        var name = /*[[${tourForm.tourTitle}]]*/ 'test';
        var desc = /*[[${tourForm.tourDescription}]]*/ 'test';
        /*]]>*/
    });
    </script>
</body>

</html>