<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add spot</title>
    <div th:replace="common::head-com()"></div>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

<body>
    <div th:replace="common::nav-bar()"></div>
    <div class = "container">
        <h1>Add spot</h1>
        <div id="map"></div>

    <form th:action="@{create}" th:object="${spotForm}" method="post" name="addspot">
        <dl>
            <dt><label for="spotLat">経度:</label></dt>
            <dd><input type="text" name="spotLat" id="spotLat" th:field="*{spotLat}" th:errorclass="error_input"></dd>
            <!-- <span th:if="${#fields.haserrors('spotLat')}" th:errors="*{spotLat}" class="error-messages">error!</span>
            -->
            <dt><label for="spotLng">緯度:</label></dt>
            <dd><input type="text" name="spotLng" id="spotLng" th:field="*{spotLng}" th:errorclass="error_input"></dd>
            <!-- <span th:if="${#fields.haserrors('spotLng')}" th:errors="*{spotLng}" class="error-messages">error!</span>
            -->
            <br>
            <dt><label for="spotName">名前:</label></dt>
            <dd><input type="text" name="spotName" id="spotName" th:field="*{spotName}" th:errorclass="error_input"></dd>
            <!-- <span th:if="${#fields.haserrors('spotName')}" th:errors="*{spotName}" class="error-messages">error!</span>
            -->
            <input type=hidden name="tourId" th:value="${param.tourId[0]}" />
            <button class="btn btn-lg btn-primary btn-block" type"button" onclick="javascript:addspot.submit()">登録</button>
        </dl>
    </form> 

    <hr/>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script type="text/javascript" th:src="@{/js/addspot.js}"></script>
    </div>
</body>

</html>