<!DOCTYPE html>
<html lang="ja" >
    <head>
        <title>map</title>


        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    
        <!-- myStyle and JS --        
    
    <body>
        <h1>map</h1>
        <p>現在地とその座標を表示します。</p>
        <div id="map">  </div>

        <div id="geo_result"></div>
        <br><br><br>
        <a href="index.html">戻る</a>
        

        <!-- scripts -->
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
        <script type="text/javascript" src="scripts/map.js"></script>
    </body>
</html>