<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>index</title>
    <div th:replace="common::head-com()"></div>
    <link rel="stylesheet" href="style/mystyle.css">

<body>
        <div th:replace="common::nav-bar()"></div>
    <div class="container">

        <h1>Index.html</h1>
        <p><span sec:authentication="principal.user.username">hoge</span>のたびはここからはじまる</p><br>
        <br>
        <a href="map">map</a><br>
        <a href="spot/list">spot list</a><br>
    <br>
</div>
</body>

</html>